# Eclipse
.classpath
.project
.settings

# IntelliJ
.idea
*.iml
*.iws
out

# Mac
.DS_Store

# Maven
log
target
dependency-reduced-pom.xml
jars

# gradle
.gradle
**/build
gradle/wrapper/gradle-wrapper.jar
